---
layout: default
---

<div class="home">

 {% include logo.html %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        {% if forloop.first %}
          {% if post.thumbnail != null %}

            <div class="thumbnail">
                <img src="{{ post.thumbnail }}">
            </div>
          {% else %}

            <div class="thumbnail">
                <img src="../images/lars.jpg">
            </div>

          {% endif %}
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">
          {{ post.date | date: "%b %d, %Y" }}
        </span>
          {{ post.excerpt }}
        <p class="read-more"></p>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>

