/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
* IMAGES
*/
.avatar {
    max-width: 100px;
    margin-right: 15px;
}

/**
* AUTHOR
*/
.author {
    margin-bottom: 30px;
    .name {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .email {
        text-transform: lowercase;
    }
}

.flush {
    margin-top: -5px;
}

.tiny-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
}

/**
 * GRID
 */
.col-wrapper {
    font-size: $base-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.col-1-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    &:nth-child(2n+2) {
        margin-left: $spacing-unit;
    }
}

.col-1-1 {
    width: -webkit-calc(100%); // - (#{$spacing-unit} / 2));
    width:         calc(100%); // - (#{$spacing-unit} / 2));

    &:nth-child(2n+2) {
        margin-left: 0;
    }
}

.col-1-3 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
}

.col-1-4 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.col-1-8 {
    width: -webkit-calc(12.5% - (#{$spacing-unit} / 2));
    width:         calc(12.5% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));

        &:nth-child(2n+2) {
            margin-left: 0;
        }
    }
}

// @include media-query($on-laptop) {
//     .col-1,
//     .col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }

//     .col-3 {
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit * 3) 0;
}

.page-heading {
    font-size: 20px;
}

/**
 * Posts
 */
.post-width {
    max-width: 720px;
    margin: 0 auto;
}

.post-header {
    text-align: center;
    margin-bottom: $spacing-unit * 2;
}

.post-title {
    font-size: 40px;//42px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-link {
    @extend .post-title;
    font-size: 30px;
    display: block;
    color: $text-color;

    &:hover {
        text-decoration: none;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    overflow: auto;

    > li {
        margin-bottom: $spacing-unit;
    }

    .post-meta {
        font-size: 18px;
    }

    li {
        @extend .col;
        @extend .col-1-2;
        position: relative;
        padding: $spacing-unit*2;
        border-bottom: solid $spacing-unit*2 #fff;
        overflow: hidden;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        height: 400px;

        .read-more { 
            position: absolute; 
            bottom: 0; left: 0;
            width: 100%; 
            text-align: center; 
            margin: 0; padding: 30px 0; 
            
            /* "transparent" only works here because == rgba(0,0,0,0) */ 
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, #fff));
            background-image: -webkit-linear-gradient(top, transparent, #fff);
            background-image: -moz-linear-gradient(top, transparent, #fff);
            background-image: -ms-linear-gradient(top, transparent, #fff);
            background-image: -o-linear-gradient(top, transparent, #fff);
        }

        @include media-query($on-palm) {
            padding: $spacing-unit/2;
        }
    }



    li:nth-child(1) {
        @extend .col-1-1;
        background: $brand-color-light;
        //background: yellow;
        //padding: 0;
        height: 700px;
        border-bottom: solid $spacing-unit*2 $brand-color-light;

        .read-more { 
            
            /* "transparent" only works here because == rgba(0,0,0,0) */ 
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, $brand-color-light));
            background-image: -webkit-linear-gradient(top, transparent, $brand-color-light);
            background-image: -moz-linear-gradient(top, transparent, $brand-color-light);
            background-image: -ms-linear-gradient(top, transparent, $brand-color-light);
            background-image: -o-linear-gradient(top, transparent, $brand-color-light);
        }
    }

    li:nth-child(2) {
        @extend .col-1-1;
    }
}

.post-meta {
    font-size: 26px;//$small-font-size;
    color: $grey-color;

}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p:first-child {
        font-weight: 700;
    }
}

.tags {
    list-style: none;
    padding: none;
    margin: 0;

    .tag {
        display: inline-block;

        a {
            padding: 5px 15px;
            background-color: #fff;
            color: $grey-color-dark;
            font-size: 16px;
            transition: all 0.1s ease;

            &:hover {
                background-color: $grey-color-light;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

p, .highlight {
    margin-bottom: 30px;
}

.pagination {
    text-align: center;
    span, em,  a {
        padding: 0 6px;
    }
}

/**
 * Post thumbnails on home
 */

.thumbnail {
    max-height: 340px;
    overflow: hidden;
    margin: -$spacing-unit*2;
    margin-bottom: $spacing-unit;

    img {
        width: 100%;
        // height: 100%;
    }
}

/**
 * Code
 */
 code {
    background-color: #F2F2F2;
}

.highlight {
    pre, code {
        background-color: #F2F2F2;
    }
}
