.post-list {

    // @extend .col-1-1;

    li {
        @extend .col;
        padding: $spacing-unit;
        background-color: #fff;
        // margin: 0;
        display: inline-block;
        vertical-align: top;
    }

    li:nth-child(1) {
        @extend .col-1-1;
    }

    li:nth-child(2), li:nth-child(3) {
        @extend .col-1-2;
    }

.page-content {
    background-color: #f9f9f9;
}
